@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Qwitcher+Grypen:wght@700&family=Source+Serif+Pro:ital,wght@1,900&display=swap');

:root {
    --color1: 0, 0, 0;
    --color2: 61, 0, 0;
    --color3: 149, 1, 1;
    --color4: 255, 0, 0;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*For the navigation bar*/
header nav{
    background-color: rgb(var(--color3));
    width: 100%;
    top: 0;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.glow{
    background-color: rgb(var(--color4));
}

nav ul li a:hover {
    background-color: rgb(var(--color4));
}

.center {
    text-align: center;
}

.main-bg {
    background-color: rgb(var(--color1));
    color: white;
    padding: 3rem;
}

.div-bg {
    background-color: rgb(var(--color2));
    padding: 20px;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 2.5rem;
}

.bottom-margin {
    margin-bottom: 2rem;
}

.main-bg .div-bg li {
    margin-top: 1.5rem;
    font-size: 22px;
}

ul {
    list-style-type: none;
}